[user]
    name = Alihan Zihna
    email = alihanz@gmail.com
[core]
    editor = "code --wait"
    excludesfile = ~/.gitignore_global
[color]
    ui = auto
[merge]
    tool = nvim -d
    conflictstyle = zdiff3
[mergetool "nvim"]
    cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[mergetool]
    prompt = false
[github]
    user = alihanz 
[push]
    default = current
[diff]
    algorithm = histogram
    colorMoved = default
    context = 10
[credential]
    helper = /usr/local/share/gcm-core/git-credential-manager-core
    credentialStore = gpg
[credential "https://dev.azure.com"]
    useHttpPath = true
[init]
    defaultBranch = main
[commit]
    verbose = true
[help]
    autocorrect = prompt
[fetch]
    prune = true
[alias]
    st = status -s
    ci = commit -v
    ac = commit -am
    conf = config --global --edit
    pr = pull --rebase
