[user]
	name = Alihan Zihna
	email = alihanz@gmail.com
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[color]
	ui = auto
[merge]
    tool = nvim -d
[mergetool "nvim"]
    cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[mergetool]
    prompt = false
[github]
    user = alihanz 
[push]
    default = simple
[diff]
    algorithm = patience
    compactionHeuristic = true

[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager-core
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
